syntax: glob

*.suo
*.user
*.userosscache
*.sln.docstates
build.log
command.log
tests.log

.vs/
.vscode/
.idea/

[Bb]in/
[Oo]bj/
[Pp]kg/
[Pp]ackages/

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
*.DotSettings.user

publish/